header{
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 100vh;
    text-align: center;
}
body{
    margin: 0%;
}
h1{
    margin: 0%;
    line-height: 100%;
    position: relative;
    top: 150px; 
    animation: title 1.5s infinite  alternate-reverse;
    font-size: 50px;
    font-weight: bold;
    color: rgba(137, 43, 226, 0.576);
}
span{
    animation: title 2s infinite  alternate-reverse;
    display: block;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 36px;
    color: rgba(179, 0, 255, 0.633);
}
.one{
    top: 96px;
    animation: title 3s infinite  alternate-reverse;
    color: rgba(0, 0, 255, 0.599);
}
@keyframes title{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-20px,20px)
    }
}
.header__link{
    position: relative;
    top: 200px;
}
header a{
    background-color: blueviolet;
    top: 200px;
    padding: 16px 32px;
    text-decoration: none;
    overflow: visible;
}
header a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.586);
    z-index: -1;
}